@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #031621; /* pretoBX */
  --colorText: white;
}

body{
  background-color: var(--background);
  color: var(--colorText);
}
